<img class="cat-img" id="meowmeow1-img" on-mouseover='meowmeow(1)' on-mouseleave='meowmeow(0)' src="/assets/img/nononocat.jpg" alt="image">
<img class="cat-img" id="meowmeow2-img" on-mouseover='meowmeow(2)' on-mouseleave='meowmeow(0)' src="/assets/img/meowmeow2.PNG" alt="image">
<img class="cat-img" id="meowmeow3-img" on-mouseover='meowmeow(3)' on-mouseleave='meowmeow(0)' src="/assets/img/cat-piano.png" alt="image">


<audio id="meowmeow3-sound" class="sound" src="/assets/sounds/cat-piano.mp3"></audio>
<audio id="meowmeow2-sound" class="sound" src="/assets/sounds/meowmeow2.mp3"></audio>
<audio id="meowmeow1-sound" class="sound" src="/assets/sounds/nononocat.mp3"></audio>