<div class="container">
    <div class="row" id="searchWrapper">
        <div class="col-auto">
            <select class="form-select" aria-label="Breed" id="selectBreed">
                <option selected>Select the breed</option>
            </select>
        </div>
        <div class="col-auto">
            <button (click)="searchByBreed()" class="btn btn-primary">Search</button>
        </div>
    </div>

    <div id="main">
        <h1 id="name"></h1>
        <div id="imageWrapper"></div>
        <p id="description"></p>
        <p id="origin"></p>
        <p id="weight"></p>
        <p id="life_span"></p>
        <p id="adaptability"></p>
        <p id="affection_level"></p>
        <p id="child_friendly"></p>
        <p id="dog_friendly"></p>
        <p id="energy_level"></p>
        <p id="grooming"></p>
        <p id="hairless"></p>
        <p id="health_issues"></p>
        <p id="hypoallergenic"></p>
        <p id="indoor"></p>
        <p id="intelligence"></p>
        <p id="rare"></p>
        <p id="shedding_level"></p>
        <p id="short_legs"></p>
        <p id="social_needs"></p>
        <p id="stranger_friendly"></p>
        <p id="temperament"></p>
        <p id="vocalisation"></p>
        <a id="wikipedia_url"></a>
    </div>
</div>