
<div class="row row d-flex justify-content-center">
    <div class="col-auto ">
        <p>Pierre</p>
        <img (click)="pick('pierre')" id="pierre" src="/assets/img/pierre.jpg" alt="pierre" class="play-img">
    </div>

    <div class="col-auto">
        <p>Feuille</p>
        <img (click)="pick('feuille')" id="feuille" src="/assets/img/feuille.jpg" alt="feuille" class="play-img">
    </div>

    <div class="col-auto">
        <p>Ciseaux</p>
        <img (click)="pick('ciseaux')" id="ciseaux" src="/assets/img/ciseaux.jpg" alt="ciseaux" class="play-img">
    </div>
</div>

<div class="row row d-flex justify-content-center">
    <div class="col-auto">
        <p id="result"></p>
    </div>
</div>
